.product-card {
  border-radius: 20px !important;
  height: 280px;
}
.product-card .card-header {
  border-radius: 20px 20px 0 0 !important;
  height: 70%;
}
.product-card .card-body .btn {
  font-size: 0.875rem;
}
.product-price {
  font-size: 16px;
}

/* sm */
@media (width >= 576px) {
  .product-card {
    height: 380px;
  }
  .product-card .card-body .btn {
    font-size: 1rem;
  }
}
/* md */
@media (width >= 768px) {
}
/* lg */
@media (width >= 992px) {
  .product-card {
    height: 400px;
  }
  .product-price {
    font-size: 22px;
  }
}
