body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fs-7 {
  font-size: 0.875rem !important;
}
.fw-medium {
  font-weight: 500 !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.fw-extrabold {
  font-weight: 800 !important;
}
.bg-lightblue {
  background-color: #f2f4fb !important;
}
.bg-skyblue {
  background-color: #9bc0c933 !important;
}
.bg-lightgray {
  background-color: #777 !important;
}
.text-lightgray {
  color: #777 !important;
}
.text-darkgray {
  color: #333 !important;
}
